:global {
   .root{background-color:transparent!important;position:absolute;bottom:0;left:0;right:0;top:0}.root.rootIsNone{visibility:hidden}.root.rootIsDark{background-color:transparent} 
  .ms-modalExample-container{
    height:80vh;
    width:80vw;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-flow:column nowrap;
    flex-flow:column nowrap;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch
  }
  .ms-modalExample-container .ms-modalExample-header{
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    background:#0078d7;
    color:#fff;
    display:-webkit-box;display:-ms-flexbox;display:flex;
    -webkit-box-align:center;-ms-flex-align:center;
    align-items:center;font-size:28px;font-weight:100;font-weight:600;padding-left:28px;min-height:40px
  }
  .ms-modalExample-container .ms-modalExample-body{-webkit-box-flex:4;
    -ms-flex:4 4 auto;flex:4 4 auto;padding:5px 28px;overflow-y:auto
  }
  .ms-modalExample-body div div {
    padding-bottom: 20px
  }
  }

  /*.root{background-color:rgba(255,255,255,.4);position:absolute;bottom:0;left:0;right:0;top:0}.root.rootIsNone{visibility:hidden}.root.rootIsDark{background-color:rgba(0,0,0,.4)} */

  