.recruitmentDashboard {
  .container {
    margin: 0px auto;
  }

  .ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
  }
  .li div {
    margin: 4px 0;
  }
  .fakerow {
    margin: 0 -8px;
    box-sizing: border-box;
  }
  .key {
    padding: 20px;
  }
  .boxShadow  {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    padding-top: 8px;
    padding-bottom: 8px;
  }
}